<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.spbau.anastasia.race" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/game_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GameMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnePlayerOption"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_one_player_option"
            android:parentActivityName=".GameMenu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.anastasia.race.GameMenu" />
        </activity>
        <activity
            android:name=".GameInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_info"
            android:parentActivityName=".GameMenu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.anastasia.race.GameMenu" />
        </activity>
        <activity
            android:name=".GameAbout"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_about"
            android:parentActivityName=".GameMenu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.anastasia.race.GameMenu" />
        </activity>
        <activity
            android:name=".RoadForOne"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_road_for_one"
            android:parentActivityName=".OnePlayerOption"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.anastasia.race.OnePlayerOption" />
        </activity>
        <activity
            android:name=".ConnectionGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_connection_game"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BluetoothService" />

        <activity
            android:name=".Choose"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_choose"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
